@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: black;
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;
}
.video-background{

    position: fixed;
    z-index: -1;
}

.semaforo{
    margin-top: 3rem;
    background-color: rgba(238, 195, 6, 0.904);
    border-radius: 1rem;
    width: 7rem;
    height: 15rem;
    margin-left: 10rem;

}

.light {
   
    margin-left: 17px;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

.grey{
    background-color: rgb(49, 49, 49);
}